.body, .html {

}

.body {
    font-family: "Open-Sans", sans-serif;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.375;
}
.page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 147px;
    z-index: 100;
    display: flex;
    align-items: center;
    background-color: rgba(222, 222, 222, 0.5);
    backdrop-filter: blur(20px);
    z-index: 100;
}

.page-header__container{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1414px;
    width: 100%;
    margin: 0 auto;
}
.page-header__logo {
    flex-shrink: 0;
    width: 202px;
    height: 147px;
    font-size: 0;
    text-decoration: none;
}

.page-header__logo-img {
    width: 100%;
    height: 100%;
}

.page-header__nav {
    display: flex;
    align-items: baseline;
    margin: 0 auto;
}
.page-header__nav-link {
    margin: 0 25px;
    color: #1F1E1E;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    text-decoration: none;
    transition: color 0.2s;
}
.btn {
} 

/* перенести в btn */
.page-header__user-btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 15px 40px;
    background-color: transparent;
    border: 1px solid #1F1E1E;
    outline: none;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #1F1E1E;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    overflow: hidden;
    cursor: pointer;
}

.page-header__user-btn:hover {
    background-color: #1f1f1f;
    color: #ffffff;
}

.main {}
.home {
    padding-top: 147px;
}

.main-header__title,
.main-header__text {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    text-transform: uppercase;
    font-family: Lora;
    font-weight: 400px;
}

.main-header__text {
    max-width: 948px;
    margin: 0 auto;
}

.main-header__picture {
    display: block;
    margin-bottom: 70px;
    position: relative;
    width: 100%;
}

.main-header__picture::before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 16.927%;
}

.main-header {
    padding-top: 100px 0;
} .home__main-header{}
.offers {} .home__offers {}

.main-header__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.about {} .home__about {}
.upcoming {} .home__upcoming {}
.listing {} .home_listing {}
.contacts {} .home_contacts {}
.doit {} .home__doit {}

.page-footer {
    flex: 0 0 auto;
}


.listing {
}