.body {
    font-family: "Open-Sans", sans-serif;
    font-style: normal;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

}
.btm {
    padding: 15px 40px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 550;
    line-height: normal;
    text-align: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 147px;
    z-index: 100;
}

.header__container,
.events__container {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1414px;
    width: 100%;
}

.header__logo {
    display: inline-block;
    width: 202px;
    height: 147px;
}

.header__nav {
    display: inline-block;
}

.header__nav-link {
    margin: 0 25px;
    color: #0000;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    text-decoration: none;
}

.header__btm {
    color: @black;
    border: 1px solid @black;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 217px;
    gap: 80px;
}

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 70px;
}

.main-header-img {
    width: 100%;
}

.main-header__title,
.main-header__text {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    text-transform: uppercase;
    font-family: Lora;
    font-size: 45px;
    font-weight: 400;
    margin: 0;
}

.home__offers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home__offers-text {
    color: var(--1, #1F1E1E);
    text-align: center;
    font-family: Lora;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.44px;
    text-transform: uppercase;
    margin-top: 0;
}

.home__offers-btm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    flex-shrink: 0;
    gap: 10%;
}

.home__offers-btm-event {
    background-color: #BC3324;
    color: var(--1, #FFF);
    border: 1px solid var(--1, #BC3324);
    flex-shrink: 0;
}

.home__offers-btm-tenat {
    color: var(--1, #1F1E1E);
    border: 1px solid var(--1, #1F1E1E);
    flex-shrink: 0;
}

.events {
    padding-top: 147px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.events__container {
    flex-direction: column;
}

.events_title {
    align-items: center;
    margin-bottom: 150px;
}

.title {
    margin: 0 0 150px;
    box-sizing: border-box;
    padding: 7px 45px 9px ;
    max-width: 624px;
    width: 100%;
    text-align: center;
    background-color: #1F1E1E;
    text-transform: uppercase;
    font-family: Lora;
    font-size: 36px;
    font-weight: 500;
    line-height: normal;
    color: #FFF;
}

.listing {
    display: flex;
    flex-wrap: wrap;
    gap: 120px 60px;
}

.listing__card-event {
    max-width: 405px;
    width: calc(33.333% - 40px);
}

.card-event {
    box-sizing: border-box;
}

.card-event__picture {
    position: relative;
    display: block;
    margin-bottom: 25px;
    
}

.card-event__picture::before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 107.160%;

}

.card-event__picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-event__link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-event__link:hover .card-event__title {
    color: #A51505;
    text-decoration-color: #A51505;
}

/* .listing-events__card-text-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
} */



.card-event__title {
    margin: 0 0 auto;
    min-height: 64px;
    text-decoration: underline;
    text-decoration-color: transparent;
    color: #1F1E1E;
    font-size: 24px;
    font-style: normal;
    font-family: 'Open Sans';
    font-weight: 700;
    line-height: normal;
    transition: color 0.2s, text-decoration-color 0.23s;
}

.card-event-text {
    margin: 15px 0;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: #1F1E1E;
}

.card-event-time {
    margin-top: auto;
    display: block;
    color: #1F1E1E;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;

    /* костыли */
    margin-top: 0;
    margin-bottom: 0;
}

