.body {
    font-family: "Open-Sans", sans-serif;
    font-style: normal;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

}
.btm {
    padding: 15px 40px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 550;
    line-height: normal;
    text-align: center;
}

.header {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    gap: 9%;
    position: fixed;
    width: 100%;
    height: 147px;
    background-color: var(--1-header, rgba(222, 222, 222, 0.50));
    backdrop-filter: blur(10px);
}

.header__logo {
    height: 100%;
}

.header__nav {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.header__nav-link {
    color: var(--1, #1F1E1E);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.header__btm {
    color: var(--1, #1F1E1E);
    border: 1px solid var(--1, #1F1E1E);
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 217px;
    gap: 80px;
}

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 70px;
}

.main-header-img {
    width: 100%;
}

.main-header__title,
.main-header__text {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    text-transform: uppercase;
    font-family: Lora;
    font-size: 45px;
    font-weight: 400;
    margin: 0;
}

.home__offers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home__offers-text {
    color: var(--1, #1F1E1E);
    text-align: center;
    font-family: Lora;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.44px;
    text-transform: uppercase;
    margin-top: 0;
}

.home__offers-btm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    flex-shrink: 0;
    gap: 10%;
}

.home__offers-btm-event {
    background-color: #BC3324;
    color: var(--1, #FFF);
    border: 1px solid var(--1, #BC3324);
    flex-shrink: 0;
}

.home__offers-btm-tenat {
    color: var(--1, #1F1E1E);
    border: 1px solid var(--1, #1F1E1E);
    flex-shrink: 0;
}

.home__listing-events {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.listing-events__title-container {
    background-color: var(--1, #1F1E1E);
    padding: 0 45px;
}

.listing-events__title {
    color: var(--1, #FFF);
    text-align: center;

    font-family: Lora;
    font-size: 36px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    width: 533px;
    height: 46px;
}

.listing-events__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.listing-events__card-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 405px;
    text-decoration: none;
}

.listing-events__card-text-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.listing-events__card-title {
    color: var(--1, #1F1E1E);
    font-size: 24px;
    font-weight: 700;
    line-height: normal;

    /* костыли */
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.listing-events__card-discription {
    color: var(--1, #1F1E1E);
    font-size: 16px;
    font-weight: 400;

    /* костыли */
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.listing-events__card-date {
    color: var(--1, #1F1E1E);
    font-size: 14px;
    font-weight: 300;

    /* костыли */
    margin-top: 0;
    margin-bottom: 0;
}

